@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    article {

    }
    .container {
        @apply grid grid-cols-1 gap-10 pb-6 justify-items-center md:grid-cols-3
    }
    h1 {
        @apply text-4xl font-bold text-cyan-800 my-2
    }
    h2 {
        @apply text-2xl text-slate-800 font-semibold italic my-2 mb-6
    }
    h3 {
        @apply text-lg font-semibold my-2
    }
    h4 {
        @apply text-base font-semibold my-2
    }
    li {
        @apply ml-6 list-disc
    }
    p {
        @apply py-2
    }
    section {
        @apply bg-zinc-50 p-8 drop-shadow-xl rounded-md border space-y-2
    }
}