@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    article h4 {
        @apply text-slate-900 text-2xl my-2 font-semibold
    }
    body {
        @apply bg-zinc-200 p-4 space-y-4
    }
    .container > article {
        @apply bg-slate-100 rounded-xl border-2 mb-6 drop-shadow-xl active:scale-95 hover:scale-105 transition;
    }
    .container {
        @apply grid grid-cols-1 justify-items-center pb-6 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-full
    }
    .description {
        @apply p-8 space-y-2
    }
    h1 {
        @apply text-4xl font-bold text-cyan-800 my-2
    }
    h2 {
        @apply text-2xl text-slate-800 font-semibold italic my-2 mb-6
    }
    h3 {
        @apply text-lg font-semibold my-2
    }
    h4 {
        @apply text-base font-semibold my-2
    }
    li {
        @apply ml-6 list-disc
    }
    main {
        @apply space-y-6
    }
    .description p {
        @apply text-slate-600
    }
    p {
        @apply py-2
    }
    section {
        @apply bg-zinc-50 p-8 drop-shadow-xl rounded-md border space-y-2
    }
}